@model Simple_OMR.ViewModels.DemoBuffer_CreateViewModel
@{
    ViewBag.Title = "Create New";
}
<form enctype="multipart/form-data" asp-controller="DemoBuffer" asp-action="Create" method="post" class="mt-3">
    </form>
